
/* Set default font and background */
body {
  font-family: Arial, sans-serif;
  background-color: #b13f3f;
  margin: 0;
  color: #a5a4a4;
}

h2 {
  color: #a5a4a4;
}

/* Style header */
header {
  background-color: #333;
  color: #FFF;
  padding: 20px;
}

/* Style navigation links */
nav {
  display: flex;
  background-color: #333;
  position: relative;
  font-size: 4.9em;
  padding: 10px 20px;
}

a {
  color: #a5a4a4;
  display: inline;
  margin: auto;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  
  cursor: pointer;
}

a:hover {
  transition: color 0.3s ease;
  color: #ffffff;
}

/* Style main content area */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

/* Style individual content items */
article {
  width: 30%;
  background-color: #FFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  padding: 20px;
}

article h2 {
  margin-top: 0;
}

article p {
  line-height: 0;
}

/* Style footer */
footer {
  background-color: #333;
  color: #FFF;
  padding: 20px;
  text-align: center;
}


.title{
  font-size: 4em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  color: #a5a4a4;
  background: #333;

  position: absolute;
  top: 67vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  padding: 12px 36px;
}
/*WIP IMAGE SLIDES*/
.slides {
  border: 1px solid #000;
}

.slides:hover .img2{
  transition: opacity 1s ease;
  opacity: 1;
}

.slides:hover .img1{
  transition: opacity 1s ease;
  opacity: 0;
}

.img1 {
  border: 1px solid #f00;
  position: relative;
  z-index: 2;
  transition: opacity 1s ease;
  opacity: 1;
}

.img2 {
  border: 1px solid #0f0;
  position: relative;
  z-index: 2;
  right: 38.7%;
  transition: opacity 1s ease;
  opacity: 0;
}



/*LOGO*/

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  /*font-size: 18px; */
}

.blogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  width: fit-content;
  height: fit-content;

 
  background-color: #333;
  padding: 12px;

  text-align: center;
  font-size: 1.5em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



/*DOWNLOADS*/
.download {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 250px;
  margin: auto;
  cursor: pointer;
  font-size: 20px; 

  position: absolute;
  top: 85vh;
  left: 50vw;
  transform: translate(-50%, -50%);

}

.download:hover {
  background-color: rgb(63, 98, 202);
}

.downimg{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.downstart{
  font-size: 4em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  color: #a5a4a4;
  background: #333;
  
  position: absolute;
  top: 20vw;
  left: 50vw;
  transform: translate(-50%, -50%);

}

.downhere{
  font-size: 2em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  color: #a5a4a4;
  background: #333;
  position: absolute;

  top: 40vw;
  left: 50vw;
  transform: translate(-50%, -50%);


}
